<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>

  <%- include('./Blocks/navbar') %>

  <section id="home" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
          <div>
            <h1>SpyralVPN</h1>
            <h2>Take control of your online privacy and security with SpyralVPN.</h2>
            <a href="/status" class="link"><i class="fa-solid fa-signal"></i> View Status</a>
            <a href="#features" class="link"><i class="fa-solid fa-arrow-right"></i> Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 home-img">
          <img src="/Images/main-banner.png" class="img-fluid" alt="" style="background-repeat: no-repeat;">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <section id="choose-us" class="choose-us">

      <div class="section-title">
        <h2>Why choose <b>SpyralVPN?</b></h2>
      </div>

      <div class="container">
        <p>At <b>SpyralVPN</b>, we take your online privacy and security seriously. That's why we own and operate our
          own
          hardware, ensuring that our service is always <b>reliable</b> and <b>fast</b>. We also utilize <b>cutting-edge
            DDoS protection</b>
          technology to keep your connection secure, regardless of the online threats you may face. Our commitment to
          privacy means that <b>we don't keep any logs of your online activity</b>, ensuring that your browsing remains
          completely anonymous. With servers in multiple locations around the world, you can access any online content
          you want, from anywhere in the world. So why choose SpyralVPN? Because we're dedicated to providing you with
          the <b>highest level of privacy, security, and freedom online</b>.</p>
      </div>
    </section>
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Spyral Features</h2>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-12 d-flex align-items-stretch order-1 order-lg-2">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-4 icon-box" data-aos-delay="100">
                  <i class="fa-solid fa-server"></i>
                  <h4>Dedicated Hardware</h4>
                  <p>All our services are hosted on hardware that we own to ensure stability.</p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="200">
                  <i class="fa-solid fa-gauge-high"></i>
                  <h4>High Connection Speeds</h4>
                  <p>All of our servers have a 10GbE connection port to ensure the fastest connection while connected.
                  </p>
                </div>
                <div class="col-md-4 icon-box">
                  <i class="fa-solid fa-cloud"></i>
                  <h4>DDoS Protection</h4>
                  <p>Our entire network is protected by Path Network (path.net) with a filtering capacity of 17+Tbits
                    then automatically dropped by our L4 XDP mitigation.</p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="300">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  <h4>Secure Browsing</h4>
                  <p>Keep all of your online activity hidden thanks to our industry standard encryption.</p>
                  </p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="500">
                  <i class="fa-solid fa-shield"></i>
                  <h4>Location Shield</h4>
                  <p>While connected we ensure your real location and ip address will be hidden and replaced with our
                    server!</p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="400">
                  <i class="fa-solid fa-atom"></i>
                  <h4>Compatibility</h4>
                  <p>Every server is compatible with OpenVPN Connect & Openvpn GUI. Our servers are also compatible for
                    gaming, streaming and downloading/uploading.</p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="500">
                  <i class="fa-solid fa-truck"></i>
                  <h4>Automatic Delivery</h4>
                  <p>Our delivery process is instantly simply just purchase a token go to our discord and run our
                    "/redeem" command and you will be sent the config.</p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="300">
                  <i class="fa-solid fa-check"></i>
                  <h4>Easy To Use</h4>
                  <p>Simply just download the config and import it into OpenVPN and press connect!</p>
                </div>
                <div class="col-md-4 icon-box" data-aos-delay="400">
                  <i class="fa-solid fa-headset"></i>
                  <h4>24/7 Support</h4>
                  <p>Need support or having any issues with our service? Don't hesitate to make a support ticket in our
                    discord.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-2 order-lg-1"
            data-aos-delay="100">
            <img src="../Public/img/burger.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section>

    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Prices & Plans</h2>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-1 box">
            <h3>1 Month</h3>
            <h4>$10.00</h4>
            <a class="get-started-btn" data-sellix-product="6434803776485" type="submit">Purchase Now</a>
          </div>

          <div class="col-lg-4 d-lg-flex flex-lg-column align-items-stretch order-2 order-lg-2 box">
            <h3>3 Months</h3>
            <h4>$25.00</h4>
            <a class="get-started-btn" data-sellix-product="6463e0ad47a23" type="submit">Purchase Now</a>
          </div>

          <div class="col-lg-4 d-lg-flex flex-lg-column align-items-stretch order-3 order-lg-3 box">
            <h3>Custom</h3>
            <h4>$0</h4>
            <a href="/discord" class="get-started-btn" target="_blank">Contact Us!</a>
          </div>
        </div>
    </section>

    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="accordion-list">
          <ul>

            <li data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                data-bs-target="#accordion-list-1" class="collapsed">How do I setup SpyralVPN? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse" data-bs-parent=".accordion-list">
                <p class="d-flex">
                  <iframe width="100%" height="400" src="https://www.youtube.com/embed/R0xVdKpDvNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>
              </div>
            </li>

            <li data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2" class="collapsed">How do I share my VPN connection? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  <iframe width="100%" height="400" src="https://www.youtube.com/embed/-pbrGkcUvZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </p>
              </div>
            </li>

            <li data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3" class="collapsed">What payment methods do you accept? <i
                  class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  We accept the following:
                  <br>
                  <br>
                  <i class="fa-brands fa-paypal"></i> PayPal
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section>
  </main>

  <%- include('./Blocks/footer') %>
  <%- include('./Blocks/top') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="https://cdn.sellix.io/static/js/embed.js"></script>

  <script src="/Js/navbar.js"></script>

</body>

</html>