@import './Other/constants';
@import './Other/webkit';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth
}

@import './Other/pull';
@import './Blocks/footer';
@import './Blocks/navbar';
@import './Blocks/top';
@import './Pages/error';
@import './Pages/index';
@import './Pages/status';